doctype html
html(lang='en')
  head
    meta(charset='utf8')
    title Example
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='style.css' rel='stylesheet')
  body
    h1 Example project
    p= greeting
    script(src='app.js')

